lement.style {
}
html Attributes Style {
    -webkit-locale: "fr";
}
feuille de style de l’agent utilisateur
:root {
    view-transition-name: root;
}
feuille de style de l’agent utilisateur
html {
    display: block;
}